@media screen and (max-width: 786px) {
    .container {
        max-width: 650px;
    }
    
}



@media screen and (max-width: 480px) {
    .container {
        max-width: 480px;
    }

    .row{
        display: block;
        margin: 0 auto;
    } 

    .steps{
        width: 100%;
    }
        
    .col{
        margin: 0 auto;
    }
}